@import "tailwindcss";
@import 'antd/dist/reset.css'; /* modern reset */



:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  
   
   
    background-color: color-mix(in srgb, #000 80%,transparent);

}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  
  font-family: Arial, Helvetica, sans-serif;
}
